<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

<!DOCTYPE html>
<html>
  <footer>	
    <hr class="hr1">
    <div class="row">
      <div class="columnFooter">
        <img src="img/CSUMB_Logo.jpg" alt="Trulli" width="40" height="40">
      </div>
      <div class="columnFooter">
        CST499 Capstone. 2021 Estrada, Libhart, Latronica, Aguirre <br>
      </div>
    </div>
  </footer>
</html>