<!DOCTYPE html>
<html>
    <head>
        <h2>
            <a href="/home"> Home </a>
        
            <a href="/buckets"> Buckets </a>
        </h2>

    </head>
<body style="background-color:#E8CEBF;">