<style>
	body{
		margin: 0;	
	}

	.container {
		width: 100vw;
		height: 100vh;
		font-size: 20px;

		display: grid;

		grid-template-columns: repeat(3, 55%);
		grid-template-rows: 100px 1fr 1fr 100px;

		gap: 10px;

		padding: 10px;
		box-sizing: border-box;	
		float: left;	

	}

	.container div {
		margin: 0;
	}

	.header {
		grid-column-start: 1;
		grid-column-end: 4;
	}

	.content-small {
		grid-row-start: 2;
		grid-row-end: span 2;
		grid-column-start: 1;
		grid-column-end: 2;
		background-color: #EFEFEF;
		
	}
	
	.content-large {
		grid-row-start: 2;
		grid-row-end: span 2;
		grid-column-start: 2;
		grid-column-end: 4;

	}

	.footer {
		grid-column-start: 1;
		grid-column-end: 4;
		grid-row-start: 4;
		grid-row-end:  4;
		
	}

</style>

<%- include('partials/header') -%>

<html>
<head>
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <title>Buckets</title>
</head>
<body>
  <div class="container ">
		<div class="header">
			<div class="logo">
				<img src="/img/logo.png" style="width: 241px; height:auto"/>
			</div>
		</div>

    <div class="content-small">
			<h1 style="font-size: 36px;">Buckets of Water</h1>
				<p>
					<p>There is a 3 gallon bucket and a 5 gallon bucket, but the shape of the buckets is not uniform. 
            Get exactly 4 gallons of water.</p>
				</p>

        <br>

        <p>This is how many times you have tried: <a id="displayTries"></a></p>

        <br>

        <p>Please enter the sequence to your solution.
          <br>
          Example: Empty 3G, Fill 5G, 3G to 5G
        </p>

        <form action="/bucketSubmit" method="POST"> <!--This form takes you to the home page when clicked calls /bucketSubmit-->
          <input type="hidden" name="name" value="<%=user%>">
          <input type="hidden" name="email" value="<%=email%>">
  
          <input name="bucketGuess" placeholder="Enter answer">
		 <button class="button">Submit</button>
  
        </form>

        <p>The 5 gallon bucket has  <strong><a id="5gAmount"></a></strong> gallons of water.</p>
  
        <p>The 3 gallon bucket has  <strong><a id="3gAmount"></a></strong> gallons of water.</p>

        <p><a id="winCond"></a></p>

		</div>
   
    <div class="content-large">
      <div>
        <img class="imgStyle" id="bucket5G" src="/img/buckets/BucketofWater5G0.png">

        <img class="imgStyle" id="bucket3G" src="/img/buckets/BucketofWater3G0.png">
      </div>

      <div>
        <button class="buttonPlaceholder" id="btn5gF">Fill 5G</button>

        <button class="buttonPlaceholder" id="btn3gF">Fill 3G</button>
      </div>

      <div>
        <button class="buttonPlaceholder" id="btn5gt3g">5G to 3G</button>

        <button class="buttonPlaceholder" id="btn3gt5g">3G to 5G</button>
      </div>

      <div>
        <button class="buttonPlaceholder" id="btn5gE">Empty 5G</button>

        <button class="buttonPlaceholder" id="btn3gE">Empty 3G</button>
      </div>

    </div>

    <footer>
      <%- include('partials/footer') -%>
    </footer>

    <!-- <img class="imgStyle" src="/img/.png" alt="" > -->
  
  <script>
    //Variables
    let galClick = 0;
    let water5g = 0;
    let water3g = 0;
    let freeSpace5g = 0;
    let freeSpace3g = 0;

    $("#5gAmount").html(water5g);
    $("#3gAmount").html(water3g);


    //Function calls
    $("#btn5gF").on("click", bucketsOfWaterFill5G);
    $("#btn3gF").on("click", bucketsOfWaterFill3G);

    $("#btn5gt3g").on("click", bucketsOfWaterTranser5t3);
    $("#btn3gt5g").on("click", bucketsOfWaterTranser3t5);

    $("#btn5gE").on("click", bucketsOfWaterEmpty5G);
    $("#btn3gE").on("click", bucketsOfWaterEmpty3G);


    //Functions
    function bucketsOfWaterFill5G() 
    {
      galClick++;
      water5g = 5;
      image5gShake();
      window.setTimeout( image5gShakeEnd, 500 );

      $("#displayTries").html(galClick);

      $("#5gAmount").html(water5g);

    }

    function bucketsOfWaterFill3G() 
    {
      galClick++;
      water3g = 3;
      image3gShake();
      window.setTimeout( image3gShakeEnd, 500 );

      $("#displayTries").html(galClick);

      $("#3gAmount").html(water3g);

    }

    function bucketsOfWaterTranser5t3() 
    {
      galClick++;
      image5gShake();
      window.setTimeout( image5gShakeEnd, 500 );

      $("#displayTries").html(galClick);

      //Calculate free space
      freeSpace5g = (5 - water5g);
      freeSpace3g = (3 - water3g);

      //Calculate water transfer
      water3g += water5g;
      water5g -= water3g;

      if (water3g > 3)
      {
        water5g = water3g - 3;
        water3g = 3;
      }

      //Validate water amounts
      if (water5g > 5)
      {
        water5g = 5;
      }

      if (water3g > 3)
      {
        water3g = 3;
      }

      $("#5gAmount").html(water5g);

      $("#3gAmount").html(water3g);

      if (water5g == 4)
      {
        $("#winCond").html("You reached 4 gallons. Good job!");
      }

    }

    function bucketsOfWaterTranser3t5() 
    {
      galClick++;
      image3gShake();
      window.setTimeout( image3gShakeEnd, 500 );

      $("#displayTries").html(galClick);

      //Calculate free space
      freeSpace5g = (5 - water5g);
      freeSpace3g = (3 - water3g);

      //Calculate water transfer
      water5g += water3g;
      water3g -= water5g;

      if (water5g > 5)
      {
        water3g = water5g - 5;
        water5g = 5;
      }

      //Validate water amounts
      if (water5g > 5)
      {
        water5g = 5;
      }

      if (water3g > 3)
      {
        water3g = 3;
      }

      $("#5gAmount").html(water5g);

      $("#3gAmount").html(water3g);

      if (water5g == 4)
      {
        $("#winCond").html("You reached 4 gallons. Good job!");
      }

    }

    function bucketsOfWaterEmpty5G() 
    {
      galClick++;
      water5g = 0;
      image5gShake();
      window.setTimeout( image5gShakeEnd, 500 );

      $("#displayTries").html(galClick);

      $("#5gAmount").html(water5g);

    }

    function bucketsOfWaterEmpty3G() 
    {
      galClick++;
      water3g = 0;
      image3gShake();
      window.setTimeout( image3gShakeEnd, 500 );

      $("#displayTries").html(galClick);

      $("#3gAmount").html(water3g);

    }

    //Image shake functions
    function image5gShake()
    { 
      document.getElementById("bucket5G").style.animation = "shake";
      document.getElementById("bucket5G").style.animationDuration = ".5s";
      document.getElementById("bucket5G").style.animationIterationCount = "infinite";
    }

    function image5gShakeEnd(){
      document.getElementById("bucket5G").style.animationDuration = "0s";
      document.querySelector("body").style.height = "auto";
    }

    function image3gShake()
    { 
      document.getElementById("bucket3G").style.animation = "shake";
      document.getElementById("bucket3G").style.animationDuration = ".5s";
      document.getElementById("bucket3G").style.animationIterationCount = "infinite";
    }

    function image3gShakeEnd(){
      document.getElementById("bucket3G").style.animationDuration = "0s";
      document.querySelector("body").style.height = "auto";
    }

    
  </script>
 
</body>
  
</html>
