<%- include('partials/header') -%>
<%- include('partials/navbar') -%>

<html>
<head>
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <title>Buckets</title>
</head>
<body>

  <hr>

  <h1>Buckets of Water</h1>

  <p>There is a 3 gallon bucket and a 5 gallon bucket, but the shape of the buckets is not uniform. 
    Get exactly 4 gallons of water.</p>

    <button class="buttonPlaceholder">5G</button>

    <button class="buttonPlaceholder">3G</button>

  <!-- <img class="imgStyle" src="/img/.png" alt="" > -->
 
</body>
  
</html>
