<%- include('partials/header') -%>

<html>
<head>
  <meta charset="utf-8">
  <title>Buckets</title>
</head>
<body>

  <a href="/">Home</a>
  <hr>

  <h1>Buckets of Water</h1>

  <!-- <img class="imgStyle" src="/img/.png" alt="" > -->
 
</body>
  
</html>
