<%- include('partials/header') -%>
<%- include('partials/navbar') -%>

<html>
<head>
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <title>Buckets</title>
</head>
<body>

  <hr>

  <h1>Buckets of Water</h1>

  <p>There is a 3 gallon bucket and a 5 gallon bucket, but the shape of the buckets is not uniform. 
    Get exactly 4 gallons of water.</p>

    <div>
      <button class="buttonPlaceholder" id="btn5g">5G</button>

      <button class="buttonPlaceholder" id="btn3g">3G</button>
    </div>

    <div>
      <button class="buttonPlaceholder" id="btn5gF">Fill 5G</button>

      <button class="buttonPlaceholder" id="btn3gF">Fill 3G</button>
    </div>

    <div>
      <button class="buttonPlaceholder" id="btn5gt3g">5G to 3G</button>

      <button class="buttonPlaceholder" id="btn3gt5g">3G to 5G</button>
    </div>

    <div>
      <button class="buttonPlaceholder" id="btn5gE">Empty 5G</button>

      <button class="buttonPlaceholder" id="btn3gE">Empty 3G</button>
    </div>

    <p>The 5 gallon bucket has  <strong><a id="5gAmount"></a></strong> gallons of water.</p>

    <p>The 3 gallon bucket has  <strong><a id="3gAmount"></a></strong> gallons of water.</p>

    <hr>

    <p>This is how many times you have tried: <a id="displayTries"></a></p>

  <!-- <img class="imgStyle" src="/img/.png" alt="" > -->
 
</body>
  
</html>
