<style>
	body{
		margin: 0;	
	}

	.container {
		width: 100vw;
		height: 100vh;
		font-family:Arial, Helvetica, sans-serif;
		font-weight: bold;
		font-size: 20px;

		display: grid;

		grid-template-columns: repeat(3, 55%);
		grid-template-rows: 100px 1fr 1fr 100px;

		gap: 10px;

		padding: 10px;
		box-sizing: border-box;	
		float: left;	

	}

	.container div {
		margin: 0;
	}

	.header {
		grid-column-start: 1;
		grid-column-end: 4;
	}

	.content-small {
		grid-row-start: 2;
		grid-row-end: span 2;
		grid-column-start: 1;
		grid-column-end: 2;
		background-color: #EFEFEF;
		
	}
	
	.content-large {
		grid-row-start: 2;
		grid-row-end: span 2;
		grid-column-start: 2;
		grid-column-end: 4;
	}

	.footer {
		grid-column-start: 1;
		grid-column-end: 4;
		grid-row-start: 4;
		grid-row-end:  4;
		
	}

</style>
<%- include('partials/header') -%>
	<div class="container ">
		<div class="logo">
			<img src="/img/logo.png" style="width: 241px; height:auto"/>
		</div>
		<div class="content-small">
			<h1 style="font-size: 36px;">Fake Coin</h1>
				<p>
					There are eight identical looking coins but one coin is a counterfeit and is known to be lighter than the rest. 
					What is the minimum number of weighings to identify the fake coin? Feel free to interact with the game to the right to help you
					solve this puzzle.<br> <br>The fake coin is known therefore it is a different color than the rest.
				</p>
			<form action="/coinSubmit" method="POST">  <!--This form takes you to the buket puzzle when clicked calls /coinSubmit-->
				<input type="hidden" name="name" value="<%=user%>">
				<input type="hidden" name="email" value="<%=email%>">

				<label for="coinGuess">Answer</label>
				<input id="coin" type="number" min="1" max="100" name="coinGuess" placeholder="10"/>
				<br>
				<button>Submit</button>
	
		  </form>

		</div>
		<div class="content-large"><iframe src="https://i.simmer.io/@roccoestrada/coin-puzzle" style="width:100%;height:100%;border:0"></iframe></div>
	</div>
			
<%- include('partials/footer') -%>