<style>
	body{
		margin: 0;	
	}

	.container {
		width: 100vw;
		height: 100vh;
		font-family:Arial, Helvetica, sans-serif;
		font-weight: bold;
		font-size: 20px;

		display: grid;

		grid-template-columns: repeat(3, 55%);
		grid-template-rows: 50px 1fr 1fr 100px;

		gap: 10px;

		padding: 10px;
		box-sizing: border-box;	
		float: left;	

	}

	.container div {
		margin: 0;
		padding: 10px;
		border: 1px solid #000000;
	}

	.header {
		grid-column-start: 1;
		grid-column-end: 4;
	}

	.content-small {
		grid-row-start: 2;
		grid-row-end: span 2;
		grid-column-start: 1;
		grid-column-end: 2;
		
	}
	
	.content-large {
		grid-row-start: 2;
		grid-row-end: span 2;
		grid-column-start: 2;
		grid-column-end: 4;
	}

	.footer {
		grid-column-start: 1;
		grid-column-end: 4;
		grid-row-start: 4;
		grid-row-end:  4;
		
	}

</style>
<%- include('partials/header') -%>
	<div class="container ">
		<div class="header">Coin Problem</div>
		<div class="content-small">
			<p>[WIP] Before you is a scale and eight coins, but one coin secretly weighs less. What is the minimum number of times you need to use the scale to figure out which coin weighs less?</p>
			<br>
			<p>Use the game on the screen to help you figure out the best strategy!</p>
			<form action="/coinSubmit" method="POST">
				<input type="hidden" name="name" value="<%=user%>">
				<input type="hidden" name="email" value="<%=email%>">

				<label for="coinGuess">Answer</label>
				<input id="coin" type="number" min="1" max="100" name="coinGuess" placeholder="10"/>
				<br>
				<button>Submit</button>
	
		  </form>

		</div>
		<div class="content-large"><iframe src="https://i.simmer.io/@roccoestrada/coin-puzzle" style="width:100%;height:100%;border:0"></iframe></div>
		<div class="footer">Footer</div>
	</div>
			
<%- include('partials/footer') -%>