<%- include('partials/header') -%>

<h1> <img id="logo" src="logo.png" alt="Logo"> CIG Talent Acquisition</h1> <hr>

<div class = "mainContainer">

    <form action="/gradeMultipleChoice" method="POST"> <!--This form takes you to the home when clicked calls /gradeMultipleChoice-->

		<img id="img" src="q1.jpg" alt="Question One">
		<br>
		<INPUT id="quizOption" TYPE="Radio" Name="choice1" Value="option1" class="answer">1,2,3
		<br>
		<INPUT id="quizOption" TYPE="Radio" Name="choice2" Value="option2" class="answer">2 only
		<br>
		<INPUT id="quizOption" TYPE="Radio" Name="choice3" Value="option3" class="answer">3 and 1
		<br>
		<INPUT id="quizOption" TYPE="Radio" Name="choice4" Value="option4" class="answer">1 only
		<br>
		<INPUT id="quizOption" TYPE="Radio" Name="choice5" Value="option5" class="answer">None apply

		<br>

		<img id="img" src="q2.jpg" alt="Question Two">

		<br>
		<INPUT id="quizOption" TYPE="Radio" Name="Choice1" Value="option1" class="answer">pos <-- -1
		<br>
		<INPUT id="quizOption" TYPE="Radio" Name="Choice2" Value="option2" class="answer">pos <-- N - 1
		<br>
		<INPUT id="quizOption" TYPE="Radio" Name="Choice3" Value="option3" class="answer">pos <-- 1
		<br>
		<INPUT id="quizOption" TYPE="Radio" Name="Choice4" Value="option4" class="answer"> pos <-- N

		<br> 

		<h3 class='question'>In which of the following case does a tree sort become adaptive?</h3>

		<INPUT id="quizOption" TYPE="Radio" Name="A" Value="option1" class="answer">when implemented with an unbalanced tree
		<br>
		<INPUT id="quizOption" TYPE="Radio" Name="B" Value="option2" class="answer">when implemented with a balanced tree
		<br>
		<INPUT id="quizOption" TYPE="Radio" Name="C" Value="option3" class="answer">when implemented with a splay tree as BST
		<br>
		<INPUT id="quizOption" TYPE="Radio" Name="D" Value="option4" class="answer">when implemented with AVL tree as BST

		<br>

		<h3 class='question'>Which of the following version of tree sort will have the highest worst case time complexity?</h3>

		<INPUT id="quizOption" TYPE="Radio" Name="a" Value="option1" class="answer">using AVL tree as BST
		<br>
		<INPUT id="quizOption" TYPE="Radio" Name="b" Value="option2" class="answer">using red black tree as BST
		<br>
		<INPUT id="quizOption" TYPE="Radio" Name="c" Value="option3" class="answer">using splay tree as BST
		<br>
		<INPUT id="quizOption" TYPE="Radio" Name="d" Value="option4" class="answer"> using ordinary BST

		<br> 

		<h3 class='question'> A person wants to visit some places. He starts from a vertex and then wants to visit every vertex till it finishes from one vertex, backtracks and then explore other vertex from same vertex. What algorithm he should use?</h3>

		<INPUT id="quizOption" TYPE="Radio" Name="1option" Value="option1" class="answer">Depth First Search
		<br>
		<INPUT id="quizOption" TYPE="Radio" Name="2option" Value="option2" class="answer">Breadth First Search
		<br>
		<INPUT id="quizOption" TYPE="Radio" Name="3option" Value="option3" class="answer">Trim algorithm
		<br>
		<INPUT id="quizOption" TYPE="Radio" Name="4option" Value="option4" class="answer">Kruskal Algorithm

		<br>

		<h3 class='question'>In Depth First Search, how many times a node is visited?</h3>

		<INPUT id="quizOption" TYPE="Radio" Name="option1" Value="option1" class="answer">Once
		<br>
		<INPUT id="quizOption" TYPE="Radio" Name="option2" Value="option2" class="answer">Twice
		<br>
		<INPUT id="quizOption" TYPE="Radio" Name="option3" Value="option3" class="answer">Equivalent to number of indegree of the node
		<br>
		<INPUT id="quizOption" TYPE="Radio" Name="option4" Value="option4" class="answer">Thrice

		<br> 

        <input type="hidden" name="name" value="<%=user%>">
        <input type="hidden" name="email" value="<%=email%>">

		<br> 

        <h3 class='question'>Which of the following is used to write comments?</h3>
        <input type="radio" name="question1" value="/// comment ///">
        <label >/// comment ///</label><br>
        <input type="radio" name="question1" value="/* comment */"> <!---Correct-->
        <label >/* comment */</label><br>
        <input type="radio"name="question1" value="//  comment */">
        <label >//  comment */</label>

        <br><br><h3 class='question'>Which of the following is called the address operator?</h3>
        <input type="radio" name="question2" value="&"><!---Correct-->
        <label for="male">&</label><br>
        <input type="radio" name="question2" value="%">
        <label for="female">%</label><br>
        <input type="radio"name="question2" value="*">
        <label for="other">*</label>

        <br><br><h3 class='question'>The process of building new classes from existing ones is called?</h3>
        <input type="radio" name="question3" value="Inheritance"><!---Correct-->
        <label >Inheritance</label><br>
        <input type="radio" name="question3" value="Polymorphism">
        <label >Polymorphism</label><br>
        <input type="radio"name="question3" value="Structure">
        <label >Structure</label>

        <br><br><h3 class='question'>In c++, dynamic memory allocation is associated with which operator?</h3>
        <input type="radio" name="question4" value="malloc()">
        <label >malloc()</label><br>
        <input type="radio" name="question4" value="this">
        <label >this</label><br>
        <input type="radio"name="question4" value="new"><!---Correct-->
        <label >new</label>
        

        <button class="button">Submit</button>

    </form>


</div>

<%- include('partials/footer') -%>