<%- include('partials/header') -%>


<form action="probOneSubmit" method="POST">
    <input type="hidden" name="name" value="<%=user%>">
    <input type="hidden" name="email" value="<%=email%>">

    <iframe height="800px" width="60%" src="https://replit.com/@NathanLatronica/CIG-Talent-Acquisition?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>

    <button>Submit</button>
</form>
<%- include('partials/footer') -%>