<%- include('partials/header') -%>
      <h1>CIG Talent Acquisition</h1> <hr>

      <h3> Which is a coding language</h1>
      <INPUT TYPE="Radio" Name="language" Value="Male">C++
      <INPUT TYPE="Radio" Name="language" Value="Female">Sea++

      <h3> Which is a coding language</h1>
      <INPUT TYPE="Radio" Name="language" Value="Male">Python
      <INPUT TYPE="Radio" Name="language" Value="Female">Piethon

      <h3>Which of the following are true</h3>
      <INPUT TYPE="Checkbox" Name="math" Value ="2">1+1 = 2
      <INPUT TYPE="Checkbox" Name= "math" Value ="25 ">5*5 = 25
      <INPUT TYPE="Checkbox" Name= "math" Value ="0 ">10/2 = 4

      <h3> how old are you?</h3>
      <SELECT>

        <OPTION Value="Under 16">Under 16</OPTION>
        <OPTION Value="16 to 25">16 to 25</OPTION>
        <OPTION Value="26 to 40">26 to 40</OPTION>
        <OPTION Value="40 to 60">40 to 60</OPTION>
        <OPTION Value="Over 60">Over 60</OPTION>
         
      </SELECT>


<%- include('partials/footer') -%>