<%- include('partials/header') -%>
      <h1>CIG Talent Acquisition</h1> <hr>

      <label for="fname">What is your name?</label>
      <input type="text" id="fname" name="fname"><br><br>

      <label for="email">What is your email?</label>
      <input type="text" id="email" name="email"><br><br>

      <h3>Click to start the test</h3>
      <button type="button">Start</button>



<%- include('partials/footer') -%>