<%- include('partials/header') -%>
      <h1> <img id="logo" src="logo.png" alt="Logo"> CIG Talent Acquisition</h1> <hr>

       <h3 id="title">Instructions</h3>
			  <p>You will be tasked to answer the following coding challenges to the best of your ablility. You are not required to complete them all. There will be some problem solving puzzels in the 
			     game it is there for you to have fun with it, but is not mandatory to complete them. They will not have a negative impact towards your application process.</p>

      <form action="/start" method="POST"> <!--This form takes you to the home page when clicked calls /start-->
      
            <label for="name">Name</label>
            <input id="user" name="name" placeholder="Enter Name"/>
            <br>
            <label for="email">Email</label>
            <input id="email" name="email" placeholder="Enter Email"/>
            <br>
            <button class="button">Begin</button>

      </form>

      <h3 id='center' class='question'>Please take this quick survey before starting the assesment</h3>
		  
      <h3 class='question'> What coding languages are you familiar with? Pick the ones that apply</h3>
          <INPUT TYPE="Checkbox" Name="language" Value="C++" class="answer">C++
          <INPUT TYPE="Checkbox" Name="language" Value="Python" class="answer">Python
	      <INPUT TYPE="Checkbox" Name="language" Value="Javascript" class="answer">Javascript
	      <INPUT TYPE="Checkbox" Name="language" Value="Java" class="answer">Java
	      <INPUT TYPE="Checkbox" Name="language" Value="C" class="answer">C
	      <INPUT TYPE="Checkbox" Name="language" Value="C#" class="answer">C#
	      <INPUT TYPE="Checkbox" Name="language" Value="Ruby" class="answer">Ruby

      <h3 class='question'>What is your gender?</h3>
		  <INPUT TYPE="Radio" Name="language" Value="Male" class="answer">Male
		  <INPUT TYPE="Radio" Name="language" Value="Female" class="answer">Female
		  <INPUT TYPE="Radio" Name="language" Value="Non-Binary" class="answer">Non-Binary
		  <INPUT TYPE="Radio" Name="language" Value="Female" class="answer">Decline to Answer
	  
	  <h3 class='question'>How did you hear about this internship?</h3>
		  <INPUT TYPE="Radio" Name="language" Value="LinkedIn" class="answer">LinkedIn
		  <INPUT TYPE="Radio" Name="language" Value="Associate" class="answer">Associate
		  <INPUT TYPE="Radio" Name="language" Value="School" class="answer">School
		  <INPUT TYPE="Radio" Name="language" Value="Other" class="answer">Other

      <h3 class='question'>How old are you?</h3>
		  <SELECT>

			  <OPTION Value="Under 16" class="answer">Under 16</OPTION>
			  <OPTION Value="16 to 25" class="answer">16 to 25</OPTION>
			  <OPTION Value="26 to 40" class="answer">26 to 40</OPTION>
			  <OPTION Value="40 to 60" class="answer">40 to 60</OPTION>
			  <OPTION Value="Over 60" class="answer">Over 60</OPTION>
		  </SELECT>

<%- include('partials/footer') -%>